<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.cloud.system.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.cloud.system.entity.po.SysMenu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="url" property="url"/>
        <result column="authority" property="authority"/>
        <result column="icon" property="icon"/>
        <result column="open_style" property="openStyle"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
        <result column="created_user_id" property="createdUserId"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user_id" property="updatedUserId"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, parent_id, url,
        authority, icon, open_style, sort, remark,
        status, deleted, created_user_id, created_time,
        updated_user_id, updated_time
    </sql>
    
    <!-- 根据用户ID查询菜单权限 -->
    <select id="findAuthorityByUserId" resultType="java.lang.String">
        select sm.authority
        from brc_sys_menu sm
                 left join brc_sys_role_menu srm on sm.id = srm.menu_id
                 left join brc_sys_user_role sur on srm.role_id = sur.role_id
        where sm.status = '1'
          and sm.deleted is null
          and sm.authority is not null
          and srm.deleted is null
          and sur.user_id = #{userId}
          and sur.deleted is null
    </select>
    <!-- 根据用户ID查询菜单权限 -->
    <select id="findAuthorityByRoleId" resultType="java.lang.String">
        select sm.authority
        from brc_sys_menu sm
                 left join brc_sys_role_menu srm on sm.id = srm.menu_id
        where sm.status = '1'
          and sm.deleted is null
          and sm.authority is not null
          and srm.deleted is null
          and srm.role_id = #{roleId}
    </select>
    <!-- 查询菜单树列表 -->
    <select id="selectMenuTreeList" resultType="com.brycehan.cloud.system.entity.po.SysMenu">
        select distinct sm.id, sm.name, sm.type, sm.parent_id, sm.icon,
        sm.url, sm.authority, sm.sort, sm.status, sm.created_time
        from brc_sys_menu sm
        left join brc_sys_role_menu srm on sm.id = srm.menu_id
        left join brc_sys_user_role sur on srm.role_id = sur.role_id
        where sm.deleted is null
        and sm.status = '1'
        and srm.deleted is null
        and sur.deleted is null
        and sur.user_id = #{userId}
        <if test="type != null and type !=''">
            and sm.type = #{type}
        </if>
        order by sm.parent_id, sm.sort
    </select>
</mapper>
