<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.cloud.system.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.cloud.system.entity.po.SysOrg">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="parent_id" property="parentId"/>
        <result column="ancestor" property="ancestor"/>
        <result column="leader" property="leader"/>
        <result column="contact_number" property="contactNumber"/>
        <result column="email" property="email"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="created_user_id" property="createdUserId"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user_id" property="updatedUserId"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, parent_id, ancestor,
        leader, contact_number, email, sort, status,
        version, deleted, created_user_id, created_time,
        updated_user_id, updated_time
    </sql>

    <select id="list" resultType="com.brycehan.cloud.system.entity.po.SysOrg">
        select bso.*
        from brc_sys_org bso
        where bso.deleted is null
        order by bso.sort asc
    </select>
</mapper>
