<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.cloud.system.mapper.SysOperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.cloud.system.entity.po.SysOperateLog">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="module_name" property="moduleName"/>
        <result column="request_uri" property="requestUri"/>
        <result column="request_method" property="requestMethod"/>
        <result column="request_param" property="requestParam"/>
        <result column="result_message" property="resultMessage"/>
        <result column="operated_type" property="operatedType"/>
        <result column="operated_time" property="operatedTime"/>
        <result column="duration" property="duration"/>
        <result column="status" property="status"/>
        <result column="user_agent" property="userAgent"/>
        <result column="ip" property="ip"/>
        <result column="location" property="location"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="org_id" property="orgId"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, module_name, request_uri, request_method,
        request_param, result_message, operated_type, operated_time, duration, 
        status, user_agent, ip, location, user_id, 
        username, org_id, created_time
    </sql>

</mapper>
