<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.cloud.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.cloud.system.entity.po.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
        <result column="type" property="type"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="sort" property="sort"/>
        <result column="dept_id" property="deptId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="account_non_locked" property="accountNonLocked"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="deleted" property="deleted"/>
        <result column="created_user_id" property="createdUserId"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user_id" property="updatedUserId"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, nickname, avatar,
        gender, type, phone, email, sort,
        dept_id, super_admin, status, remark,
        account_non_locked, last_login_ip, last_login_time,
        deleted, created_user_id, created_time, updated_user_id, updated_time
    </sql>
    
    <select id="list" resultType="com.brycehan.cloud.system.entity.po.SysUser">
        select su.*
        from brc_sys_user su
        where su.deleted is null
        <if test="username != null and username.trim() != ''">
            and su.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone.trim() != ''">
            and su.phone like concat('%', #{phone}, '%')
        </if>
        <if test="gender != null and gender.trim() != ''">
            and su.gender = #{gender}
        </if>
        <if test="type != null">
            and su.type = #{type}
        </if>
        <if test="deptId != null">
            and su.dept_id = #{deptId}
        </if>
        <if test="status != null">
            and su.status = #{status}
        </if>
        <choose>
            <when test="createdTimeStart != null and createdTimeEnd != null">
                and su.created_time <![CDATA[ >= ]]> #{createdTimeStart}
                and su.created_time <![CDATA[ <= ]]> #{createdTimeEnd}
            </when>
            <when test="createdTimeStart = null and createdTimeEnd != null">
                and su.created_time <![CDATA[ <= ]]> #{createdTimeEnd}
            </when>
            <when test="createdTimeStart != null and createdTimeEnd = null">
                and su.created_time <![CDATA[ >= ]]> #{createdTimeStart}
            </when>
        </choose>
    </select>

</mapper>
