<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.cloud.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.cloud.system.entity.po.SysUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="full_name" property="fullName"/>
        <result column="avatar" property="avatar"/>
        <result column="gender" property="gender"/>
        <result column="type" property="type"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="sort" property="sort"/>
        <result column="org_id" property="orgId"/>
        <result column="super_admin" property="superAdmin"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="account_non_locked" property="accountNonLocked"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="created_user_id" property="createdUserId"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_user_id" property="updatedUserId"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, full_name, avatar,
        gender, type, phone, email, sort,
        org_id, super_admin, status, remark,
        account_non_locked, last_login_ip, last_login_time, version,
        deleted, created_user_id, created_time, updated_user_id, updated_time
    </sql>

    <select id="roleUserList" resultType="com.brycehan.cloud.system.entity.po.SysUser">
        select bsu.*
        from brc_sys_user bsu
        left join brc_sys_user_role bsur on bsu.id = bsur.user_id
        where bsu.super_admin = 0
        and bsu.deleted = false
        and bsu.status = true
        and bsur.deleted = false
        and bsur.role_id = #{roleId}
        <if test="username != null and username.trim() != ''">
            and bsu.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone.trim() != ''">
            and bsu.phone = like concat('%', #{phone}, '%')
        </if>
    </select>

    <select id="list" resultType="com.brycehan.cloud.system.entity.po.SysUser">
        select bsu.*
        from brc_sys_user bsu
        where bsu.super_admin = 0
        and bsu.deleted = false
        <if test="username != null and username.trim() != ''">
            and bsu.username like concat('%', #{username}, '%')
        </if>
        <if test="phone != null and phone.trim() != ''">
            and bsu.phone like concat('%', #{phone}, '%')
        </if>
        <if test="gender != null and gender.trim() != ''">
            and bsu.gender = #{gender}
        </if>
        <if test="type != null">
            and bsu.type = #{type}
        </if>
        <if test="orgId != null">
            and bsu.org_id = #{orgId}
        </if>
        <if test="status != null">
            and bsu.status = #{status}
        </if>
        <choose>
            <when test="createdTimeStart != null and createdTimeEnd != null">
                and bsu.created_time <![CDATA[ >= ]]> #{createdTimeStart}
                and bsu.created_time <![CDATA[ <= ]]> #{createdTimeEnd}
            </when>
            <when test="createdTimeStart = null and createdTimeEnd != null">
                and bsu.created_time <![CDATA[ <= ]]> #{createdTimeEnd}
            </when>
            <when test="createdTimeStart != null and createdTimeEnd = null">
                and bsu.created_time <![CDATA[ >= ]]> #{createdTimeStart}
            </when>
        </choose>
    </select>

</mapper>
