<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brycehan.cloud.wechat.mapper.WechatAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.brycehan.cloud.wechat.entity.WechatApp">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="type" property="type" />
        <result column="token" property="token" />
        <result column="redirect_url" property="redirectUrl" />
        <result column="tenant_id" property="tenantId" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="created_user_id" property="createdUserId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_user_id" property="updatedUserId" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, app_id, app_secret, type,
        token, redirect_url, tenant_id, status, remark,
        version, deleted, created_user_id, created_time, updated_user_id,
        updated_time
    </sql>

</mapper>
